.input {
  visibility: hidden;
}
.wrapper {
  margin-bottom: 10px;
}
.label {
  position: relative;
  padding-left: 4%;
}
.label::before {
  position: absolute;
  left: -13px;
  content: "";
  width: 23px;
  height: 23px;
  border-radius: 5px;
  background: #dedede;
}
.label::after {
  position: absolute;
  left: -10px;
  top: 2px;
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 5px;
  background: var(--button-color);
}
.input:not(:checked) + .label::after {
  opacity: 0;
}
.input:checked + .label::after {
  opacity: 1;
}
